.login-logo {
    margin: 0;
}

.cent-logo {
    width: 30%;
}

.login-form input {
    border-radius: 4em;
    border: 2px solid #262626;
    padding: 1em;
}

.btn-cent {
    background-color: #d8bb7f;
    color: #f6f6f6;
    font-weight: bold;
    width: 100%;
    border: 2px solid #262626;
    padding: 0.3em 0;
    border-radius: 4em;
    font-size: 1.1rem;
    letter-spacing: 0.7px;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.signup-login-redirect,
.signup-forgotPassword,
.signup-login-redirect {
    color: #d8bb7f !important;
    font-weight: bold;
}

.signup-forgotPassword,
.signup-login-redirect {
    border-bottom: 2px solid #d8bb7f;
}
